[bumpversion]
current_version = 2.2.4
files = straxen/__init__.py
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"
