# .coveragerc to control coverage.py
[report]
omit =
        ./straxen/storage/rucio_remote.py
        ./straxen/legacy/plugins_1t/pax_interface.py
        ./straxen/entry_points.py
        ./straxen/daq_core.py

# Regexes for lines to exclude from consideration
exclude_lines =
    if __name__ == .__main__.:
    raise

ignore_errors = True
