language: python
dist: xenial
python:
  - "3.7"
jobs:
  include:
    - name: "Python 3.7"
      env: PYTHON=3.7 DEPLOY_ME=true
    - name: "Python 3.7 numbaless (for coverage)"
      env: PYTHON=3.7 NUMBA_DISABLE_JIT=1
install:
- echo "download requirements from base_environment"
- wget -O pre_requirements.txt https://raw.githubusercontent.com/XENONnT/base_environment/master/requirements.txt &> /dev/null
- echo "select important dependencies for strax(en)"
- cat pre_requirements.txt | grep 'numpy\|numba\|tensorflow\|blosc\|scikit-learn' &> sel_pre_requirements.txt
- echo "Will pre-install:"
- cat sel_pre_requirements.txt
- echo "Start preinstall and rm pre-requirements:"
- pip install -r sel_pre_requirements.txt
- rm pre_requirements.txt sel_pre_requirements.txt
- echo "strax install"
- git clone https://github.com/AxFoundation/strax.git ../strax
- pip install -r ../strax/requirements.txt
- pip install ../strax
- pip install pytest hypothesis flake8 boltons pytest-runner coveralls holoviews xarray datashader
- pip install -r requirements.txt
- echo "add utilix file to not break imports"
- cat > $HOME/.xenon_config <<EOF
  [RunDB]
  pymongo_url = None
  pymongo_user = None
  pymongo_password = None
  EOF
script:
- python setup.py install
- coverage run --source=straxen setup.py test
deploy:
  provider: pypi
  skip_existing: true
  user: jelleaalbers
  password:
    secure: sZFPmLKtCKvyN/HrPk2gTh8PEx28g9ksv4aBi15WGg14PUWFg53v4gEMH/DrhBc3MDrIA3ib/smMx0airn+XMBDQixwzHg1y+X1KsljOQzfk5MSC+Uv+wB+GkJW2802r00aKL851X0VU2XdjZIxTDd1DcS2QwoQjKSknRrsOtXUUAipH7JJtwKV3WcLGBUn51yygeuFHMOmtca3zlDAFEdk4W29IyAnVBj38PT8ucEWj64OIWSVJ1xf3WWdamFpNz+z6JopHUygXgyIuj8maAeSISWf8n9i2GuX8MzyumFuExklqEjcn1gcKVjmqxWdAHwvf6ul3sfjUsTbXXoPxPx1Oiz8r09H3p8lDCDwexOoh1UrQbsRGCj9oQH8e3gp8deHyosXFmIGm1DeW9efG/S/abDLQ6L9e7S5owYYFw2Muf3blJ2c6nS43k4drsS3ioP1wBsV/Z7HRI1f9NTsKpH4JwAsvIi7cr4BlTyjNip05Narq6eOp8XHSTbt/u7gfN1gfZdxwhPryRAjI+M2ck6sk6eq6nPA5DXd1B4Ekti7LwVaIBgcPCgbn2R0xaL+FrWU++6IYwhNqmnHOq9Hv3iLenGF+Mp3aTJCiyw8hvAbxqbe2vUSO6VwBQW8W8ZM3H8diU5+UaWlj+bZ0nyjxlB/arQle/6Y/WX8CHc9vBYg=
  on:
    tags: true

# Upload code coverage information
# Only do this if not jitting, otherwise we miss those tests.
after_success:
  - if [ $NUMBA_DISABLE_JIT ]; then coveralls; fi
