git+git://github.com/AxFoundation/strax
# tensorflow    # Optional, to (re)do posrec
# holoviews     # Optional, to enable wf display
# bokeh         # Optional, to enable wf display
# datashader    # Optional, to enable wf display
multihist>=0.6.3
matplotlib
packaging
