# datashader         # Optional, to enable wf display
# holoviews          # Optional, to enable wf display
# tensorflow>=2.3.0  # Optional, to (re)do posrec
bokeh>=2.2.3,<3
commentjson
gitpython
immutabledict
matplotlib
multihist>=0.6.3
numba>=0.50.0
numpy
packaging
pymongo
requests
strax>=1.5.0
utilix>=0.5.3
xedocs
