numpy~=1.19.5
packaging
pymongo<4.0.0
strax>=1.1.2
utilix>=0.5.3
# tensorflow>=2.3.0  # Optional, to (re)do posrec
# holoviews          # Optional, to enable wf display
# datashader         # Optional, to enable wf display
bokeh>=2.2.3
multihist>=0.6.3
immutabledict
numba>=0.50.0
requests
commentjson
matplotlib
gitpython
