# File for the requirements of the automated tests
pytest==5.4.2
hypothesis==5.15.1
holoviews==1.14.3
flake8==3.8.2
pytest-cov==2.12.1
coveralls==3.1.0
xarray==0.16.1
datashader==0.10.0
boltons==20.0.0
ipywidgets==7.5.1
bokeh==2.3.1
tensorflow==2.5.0

# python 3.x specifics
# Dask
dask==2021.03.1; python_version>="3.7"
dask<=2021.2.0; python_version=="3.6"
