# File for the requirements of straxen with the automated tests
blosc==1.10.6                                   # Strax dependency
bokeh==2.4.2
boltons==21.0.0
commentjson==0.9.0
coverage==6.3.2
coveralls==3.3.1
dask==2022.2.1
datashader==0.13.0
dill==0.3.4                                     # Strax dependency
flake8==4.0.1
gitpython==3.1.26
holoviews==1.14.8
hypothesis==6.38.0
ipywidgets==7.7.0
jupyter-client==7.1.2                           # for ipywidgets
Jinja2==3.0.3                                   # Holoviews dependency
keras==2.8.0                                    # Tensorflow dependency
matplotlib==3.5.1
multihist==0.6.5
nestpy==1.5.0; python_version<="3.9"            # WFSim dependency
git+https://github.com/NESTCollaboration/nestpy.git; python_version=="3.10"  # WFSim dependency
npshmex==0.2.1                                  # Strax dependency
numba==0.55.1
numexpr==2.8.1
numpy==1.21.5
packaging==21.3
pandas==1.4.1
panel==0.12.7                                   # Bokeh dependency
psutil==5.9.0                                   # Strax dependency
pymongo==3.12.0                                 # Strax dependency
pytest==7.1.1
pytest-cov==3.0.0
scikit-learn==1.0.2
scipy==1.8.0                                    # Strax dependency
tensorflow==2.8.0
tqdm==4.63.0
typing_extensions==4.1.1                        # Tensorflow/bokeh dependency
utilix==0.6.6
wfsim==0.5.13                                   # nestpy doesn't work in py3.10
xarray==2022.3.0
zstd==1.5.1.0                                   # Strax dependency
