# Automatically update the context collection in the runDB

name: Update context collection

# Controls when the action will run.

# Trigger this code when a new release is published
on:
  workflow_dispatch:
  release:
    types: [created]

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - name: Setup python
      uses: actions/setup-python@v2.3.0
      with:
        python-version: '3.8'
        cache: 'pip'
        cache-dependency-path: 'extra_requirements/requirements-tests.txt'
    - name: Checkout repo
      uses: actions/checkout@v2
    - name: Install python dependencies
      run: pip install -r extra_requirements/requirements-tests.txt
    - name: Install straxen
      run: bash .github/scripts/install_straxen.sh
    # writes a utilix configuration file. Uses the secret functionality of GitHub.
    - name: Write utilix config
      run: |
           bash .github/scripts/create-utilix-config.sh
      env:
        RUNDB_API_URL: ${{ secrets.RUNDB_API_URL }}
        RUNDB_API_USER: ${{ secrets.RUNDB_API_USER }}
        RUNDB_API_PASSWORD: ${{ secrets.RUNDB_API_PASSWORD }}
        PYMONGO_URL: ${{ secrets.PYMONGO_URL }}
        PYMONGO_USER: ${{ secrets.PYMONGO_USER }}
        PYMONGO_PASSWORD: ${{ secrets.PYMONGO_PASSWORD }}
        PYMONGO_DATABASE: ${{ secrets.PYMONGO_DATABASE }}
    - name: Update context
      run: |
           python .github/scripts/update-context-collection.py
