# Pipy upload straxen after a release (or manually).
## Mostly based on https://github.com/marketplace/actions/pypi-publish
name: Pipy

on:
  workflow_dispatch:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Setup steps
      - name: Setup python
        uses: actions/setup-python@v5.6.0
        with:
          python-version: "3.10"

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: pip install build

      - name: Build package
        run: python -m build

      - name: Publish a Python distribution to PyPI
        # Do the publishing
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: ${{ secrets.token }}
          password: ${{ secrets.pypi_password }}
