# Test straxen on each PR
name: Test package

# Trigger this code when a new release is published
on:
  workflow_dispatch:
  release:
    types: [created]
  pull_request:
    branches:
      - master
      - stable

jobs:
  update:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.8]
    steps:
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: install pre requirements
        run: |
            echo "download requirements from base_environment"
            wget -O pre_requirements.txt https://raw.githubusercontent.com/XENONnT/base_environment/master/requirements.txt &> /dev/null
            echo "select important dependencies for strax(en)"
            cat pre_requirements.txt | grep 'numpy\|numba\|tensorflow\|blosc\|scikit-learn' &> sel_pre_requirements.txt
            echo "Will pre-install:"
            cat sel_pre_requirements.txt
            echo "Start preinstall and rm pre-requirements:"
            pip install -r sel_pre_requirements.txt
            rm pre_requirements.txt sel_pre_requirements.txt
      - name: Install strax
        run: |
            git clone https://github.com/AxFoundation/strax.git ../strax
            pip install ../strax
      - name: Install python dependencies
        uses: py-actions/py-dependency-install@v2
      - name: Install straxen
        run: bash .github/scripts/install_straxen.sh
      - name: Install pytest and hypothesis
        run: pip install pytest hypothesis flake8 boltons pytest-runner coveralls holoviews xarray datashader
      - name: Test package
        run: |
          pytest --verbose
      - name: goodbye
        run: echo goodbye
